@use "global" as *;

.drawer{
    display: block;
    position: relative;
    height:rem(33);
    width: rem(33);
    border: 1px solid;
    border-radius: 50% 50%;
    @include mq(md) {
        display: none;
    }
}
.drawer__btns{
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.drawer__btn{
    display: inline-block;
    height: 1px;
    width: rem(20);
    background-color: #333;
    position: absolute;
    transition: .5s;
}

.drawer__btn--1{
    top: rem(10);
    left: 50%;
    transform: translateX(-50%);
}
.drawer__btn--1.is-active{
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
}
.drawer__btn--2{
    transform: translate(-50%,-50%);
    top: 50%;
}
.drawer__btn--2.is-active{
    opacity: 0;
}
.drawer__btn--3{
    bottom: rem(10);
    transform: translateX(-50%);
}
.drawer__btn--3.is-active{
    transform: translate(-50%,-50%) rotate(-45deg);
    top: 50%;
}